doctype html
html
  head
    title Laravel
    link(href='https://fonts.googleapis.com/css?family=Lato:100', rel='stylesheet', type='text/css')
    link(href!="{{ url('/css/font-awesome.min.css') }}", rel='stylesheet', type='text/css')
    link(href!="{{ url('/css/app.css') }}", rel='stylesheet', type='text/css')
  body
    .container: .row

      div(class="12u$")
        header
          h2 This  is a demo
          p This is also a demo

      div(class="6u")
          h3 Lorem ipsum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis et magna eu lacinia. Curabitur interdum nisl ut tincidunt rutrum. Phasellus et ornare sem, et malesuada arcu. Suspendisse nunc velit, vestibulum et cursus varius, vulputate ac risus. Sed finibus justo eget turpis hendrerit tincidunt. Sed venenatis semper mauris sit amet cursus. Nulla venenatis nisl in augue tempor suscipit. Cras maximus massa ut lorem malesuada tempor.

      div(class="6u$")
          h3 Lorem ip sume more
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis et magna eu lacinia. Curabitur interdum nisl ut tincidunt rutrum. Phasellus et ornare sem, et malesuada arcu. Suspendisse nunc velit, vestibulum et cursus varius, vulputate ac risus. Sed finibus justo eget turpis hendrerit tincidunt. Sed venenatis semper mauris sit amet cursus. Nulla venenatis nisl in augue tempor suscipit. Cras maximus massa ut lorem malesuada tempor.

